# Node.js related
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Logs
logs
*.log
.log.

# Playwright specific
playwright-report/
.cache/
.next/
test-results/
screenshots/
videos/

# VSCode
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
*~
